body {
  background-color: darkslategray;
  color: orange;
}

h1 {
  margin: 32px;
}

.library-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 64px;
  padding: 64px;
}

.card {
  background-color: beige;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  color: black;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  grid-area: 1 / 1 / 2 / 3;
}

.author {
  font-style: italic;
  grid-area: 2/ 1 / 3 / 3;
}

.pages,
.read {
  font-size: 0.9rem;
}

.new-book-btn {
  background-color: gray;
  border-radius: 8px;
  padding: 16px 32px;
  margin: 32px;
  color: palegreen;
}

.new-book-form {
  background-color: gray;

  display: grid;
  grid-template-columns: 1fr;
  width: min(400px, 100%);
  justify-content: left;
  padding: 16px;
  gap: 8px;
  margin: 32px;
}

.new-book-form label {
  display: grid;
  grid-template-columns: 75px 1fr;
  width: 100%;
  text-align: right;
  gap: 8px;
}

.new-book-form input {
  width: 90%;
  justify-self: left;
}
