body {
  background-color: darkslategray;
  color: orange;
}

.library-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 64px;
}

.card {
  background-color: beige;
  height: 250px;
  width: 250px;
  border-radius: 16px;
  color: black;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  grid-area: 1 / 1 / 2 / 3;
}

.author {
  font-style: italic;
  grid-area: 2/ 1 / 3 / 3;
}

.pages,
.read {
  font-size: 0.9rem;
}
